<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0">

    <title>User - Shopping Cart Admin</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <!-- https://fontawesome.com/download =>nhấn download Free For Web, copy webfonts, copy css/all.css vào folder fontawesome-->
    <!-- https://fontawesome.com/search =>search từ khóa pointrait =>chọn <i class="fa-solid fa-image-portrait"></i> -->
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>


<body>
<div class="container-fluid">
    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a th:href="@{/}" class="navbar-brand">
                <img th:src="@{/images/shopping-logo.png}" alt="" width="100px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a th:href="@{/users}" class="nav-link dropdown-toggle" data-toggle="dropdown">Users</a>
                        <div class="dropdown-menu">
                            <a th:href="@{/users/new}" class="dropdown-item">Create New</a>
                            <a th:href="@{/users}" class="dropdown-item">View All</a>
                        </div>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a th:href="@{/categories}" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                        <div class="dropdown-menu">
                            <a th:href="@{/categories/new}" class="dropdown-item">Create New</a>
                            <a th:href="@{/categories}" class="dropdown-item">View All</a>
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <div>
        <h2>Manager Categories</h2>
        <a th:href="@{/categories/new}" class="fas fa-user-plus fa-2x icon-dark mre-2"></a>
        <a th:href="@{/categories/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
        <a th:href="@{/categories/export/excel}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
        <a th:href="@{/categories/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark"></a>
    </div>

    <div>
        <form th:action="@{categories/page/1}" class="form-inline m-3">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            Filter: &nbsp;

            <input type="search" name="keyword" th:value="${keyword}" class="form-control" required>
            &nbsp;
            &nbsp;


            <button type="submit" class="btn btn-secondary">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </div>



    <div class="full-details">
        <table class="table table-bordered table-hover table-striped table-reponsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>
                    <a href="" class="text-while" th:if="${sortField != 'id'}"
                       th:href="@{'/categories/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${sortDir}} ">
                        Category ID
                    </a>

                    <a href="" class="text-while" th:if="${sortField == 'id'}"
                       th:href="@{'/categories/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}} ">
                        Category ID
                    </a>

                    <span th:if="${sortField == 'id'}"
                          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                    </span>
                </th>
                <th>
                    <a href="" class="text-while" th:if="${sortField != 'name'}"
                       th:href="@{'/categories/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${sortDir}} ">
                        Name
                    </a>

                    <a href="" class="text-while" th:if="${sortField == 'name'}"
                       th:href="@{'/categories/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}} ">
                        Name
                    </a>

                    <span th:if="${sortField == 'name'}"
                          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                    </span>

                </th>
                <th>
                    <a href="" class="text-while" th:if="${sortField != 'alias'}"
                       th:href="@{'/categories/page/' + ${currentPage} + '?sortField=alias&sortDir=' + ${sortDir}} ">
                        Alias
                    </a>

                    <a href="" class="text-while" th:if="${sortField == 'alias'}"
                       th:href="@{'/categories/page/' + ${currentPage} + '?sortField=alias&sortDir=' + ${reverseSortDir}} ">
                        Alias
                    </a>

                    <span th:if="${sortField == 'alias'}"
                          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}">
                    </span>
                </th>
                <th>Image</th>
                <th>Enable</th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="category : ${listCategories}">
                <td>[[${category.id}]]</td>
                <td>[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>

                <td>
                    <span th:if="${category.photo == null}" class="fas fa-portrait fa-3x icon-silver"></span>
                    <img th:if="${category.photo != null}" th:src="@{${category.photosImagePath}}" style="width: 100px">
                </td>
                <td>
                    <a th:if="${category.enabled==true}" class="fas fa-check-circle fa-2x icon-green"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
                       th:title="'Disable this ' + ' category'">
                    </a>

                    <a th:if="${category.enabled==false}" class="fas fa-check-circle fa-2x icon-dark"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
                       th:title="'Enable this ' + ' category'">
                    </a>
                </td>

                <td>
                    <a th:href="@{'/categories/edit/' +${category.id}}"
                       th:title="'Edit this ' + 'category'"
                       class="fas fa-edit fa-2x icon-green">
                    </a> &nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <a th:if="${!category.hasChildren}"
                       th:href="@{'/categories/delete/' +${category.id}}"
                       th:entityId="${category.id}"
                       th:title="'Delete this ' + 'category'"
                       class="fas fa-trash fa-2x icon-dark link-delete">
                    </a>
<!--                    <div th:replace="fragments :: delete('category', ${category.id},'/categories/delete/' + ${category.id},${!category.hasChildren})" />-->

                </td>
            </tr>
            </tbody>
        </table>
    </div>



    <div class="less-details">
        <div class="row m-1" th:each="category: ${listCategories}">

            <div class="col-4">
                <img th:src="@{/images/default-user.png}" width="100px">
            </div>

            <div class="col-8">
                <td>[[${category.name}]]</td>
                <td>[[${category.alias}]]</td>
                <div class="mt-2">
                    <a th:if="${category.enabled==true}" class="fas fa-check-circle fa-2x icon-green"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/false'}"
                       th:title="'Disable this ' + ' category'">
                    </a>

                    <a th:if="${category.enabled==false}" class="fas fa-check-circle fa-2x icon-dark"
                       th:href="@{'/categories/' + ${category.id} + '/enabled/true'}"
                       th:title="'Enable this ' + ' category'">
                    </a>
                    &nbsp;
                    <a th:href="@{'/categories/edit/' +${category.id}}"
                       th:title="'Edit this ' + 'category'"
                       class="fas fa-edit fa-2x icon-green">
                    </a> &nbsp;&nbsp;
                    &nbsp;&nbsp;
           &nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <a th:href="@{'/categories/delete/' +${category.id}}"
                       th:entityId="${category.id}"
                       th:title="'Delete this ' + 'category'"
                       class="fas fa-trash fa-2x icon-dark link-delete">
                    </a>
                </div>
            </div>
            <div>&nbsp;</div>
        </div>
    </div>




    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a href="" class="btn btn-success" id="yesButton">Yes</a>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div class="text-center m-1" th:if="${totalItems > 0}">
            <span>Showing catergories # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
        </div>

        <div class="text-center m-1" th:unless="${totalItems > 0}">
            <span>No user found</span>
        </div>

        <div th:if="${totalPages > 1}">
            <nav>
                <ul class="pagination justify-content-center flex-wrap">
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/categories/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
                    </li>
                    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/categories/page/' + ${currentPage -1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
                    </li>

                    <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                        th:each="i: ${#numbers.sequence(1,totalPages)}">
                        <a class="page-link" th:href="@{'/categories/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                    </li>

                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/categories/page/' + ${currentPage +1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                    </li>
                    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link" th:href="@{'/categories/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>


    <div class="text-center m-3">
        <p>Shopping Cart Control Panel - Create by &copy; Shopping Cart</p>
    </div>

</div>
</body>
</html>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
    moduleURL = "[[@{/category}]]";

    $(document).ready(function() {

        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'category');
        })
    })
</script>